---
import { getCollection } from 'astro:content'
import BlogLayout from '@layouts/BlogLayout.astro'
import CategoryFilter from '@components/CategoryFilters.astro'
import BlogContent from '@components/BlogContent.astro'

const categories = (await getCollection('categories')).map(raw => raw.data)

const pageTitle = 'Blog'
---


<BlogLayout pageTitle={pageTitle}>
  <section class='sticky top-0 z-[8]'>
    <CategoryFilter categories={categories} />
  </section>
  <section class='relative px-4'>
    <BlogContent />
  </section>
</BlogLayout>