---
import Icon from './Icon.astro'

const { class: className, ...props } = Astro.props
---

<button id='ButtonCloseMenu' {...props}>
  <Icon iconName='close' class:list={['lg:cursor-pointer', className]} />
</button>

<script>
  function closeMenu() {
    const buttonCloseMenu = document.querySelector('#ButtonCloseMenu')
    const menu = document.querySelector('#Menu')
    const body = document.querySelector('body')

    if (menu && body) {
      buttonCloseMenu?.addEventListener('click', () => {
        window.dispatchEvent(new CustomEvent('closeMenu', { detail: { isOpen: false } }))

        body?.classList.replace('overflow-hidden', 'overflow-auto')
        menu?.classList.replace('h-dvh', 'h-0')
        menu?.classList.replace('fixed', 'hidden')
        menu?.classList.replace('translate-y-0', '-translate-y-full')
      })
    }
  }

  closeMenu()
</script>
