---
import ObserverLink from './ObserverLink.astro'
import type { PrimitiveLink } from '@custom-types/global'

interface Props {
  id?: string
  class?: string | null | undefined
  type?: string
  routes: Partial<PrimitiveLink>[]
}

const { routes, type, class: className, ...props } = Astro.props
---

<section class:list={['w-fit', className]} {...props}>
  <slot name='section-name' />
  <ul class='w-fit flex flex-col gap-4'>
    {
      routes &&
        routes.length >= 1 &&
        routes.map(route => {
          return (
            <li class='w-fit'>
              <ObserverLink
                ref={route.href}
                type={type}
                data-value={route.label.toLowerCase()}
              >{route.label}</ObserverLink>
            </li>
          )
        })
    }
  </ul>
</section>
