---
import ObserverLink from './ObserverLink.astro'
import type { PrimitiveLink } from '@custom-types/global'

interface Props {
  routes: Partial<PrimitiveLink>[]
}

const { routes, ...props } = Astro.props
---

<section {...props}>
  <slot name='section-name' />
  <ul class='flex flex-col gap-4'>
    {
      routes &&
        routes.length >= 1 &&
        routes.map(route => {
          return (
            <li>
              <ObserverLink
                ref={route.href}
                label={route.label}
                class='text-gray-50/50'
                data-value={route.label}
              />
            </li>
          )
        })
    }
  </ul>
</section>
