---
import ObserverLink from './ObserverLink.astro'
import BlogFlag from './BlogFlag.astro'
import PortfolioFlag from './PortfolioFlag.astro'
import type { MainMenuLink } from '@custom-types/global'

interface Props {
  links: MainMenuLink[]
}

const { links } = Astro.props
---

<div class='relative p-10 h-full overflow-hidden flex flex-col gap-8 justify-end lg:border lg:border-gray-600'>
  <div class='h-full flex flex-row justify-center items-center'>
    <BlogFlag />
    <PortfolioFlag />
  </div>
  <ul class='flex flex-col gap-7 text-center'>
    {links.length === 0 && <span>No hay links disponibles.</span>}
    {
      links.map(link => {
        return (
          <li>
            <ObserverLink
              ref={link.href}
              type="local"
              class='text-[1.75rem] font-medium'
              data-menu-link-value={link.label.toLowerCase()}
            >
              {link.label}
            </ObserverLink>
          </li>
        )
      })
    }
  </ul>
</div>
