---
import ObserverLink from './ObserverLink.astro'
import BlogIcon from './BlogIcon.astro'
import PortfolioIcon from './PortfolioIcon.astro'
import type { MenuLink } from '@custom-types/global'

interface Props {
  links: MenuLink[]
}

const { links } = Astro.props
---

<div
  id='MenuList'
  class='relative p-10 h-full overflow-hidden flex flex-col gap-8 justify-end lg:border lg:border-gray-600'>
  <div class='h-full flex flex-row justify-center items-center'>
    <BlogIcon />
    <PortfolioIcon />
  </div>
  <ul class='flex flex-col gap-7 text-center'>
    {links.length === 0 && <span>No hay links disponibles.</span>}
    {
      links.map(link => {
        return (
          <li>
            <ObserverLink
              ref={link.href}
              type='local'
              class='text-[1.75rem]'
              data-menu-link-value={link.label.toLowerCase()}>
              {link.label}
            </ObserverLink>
          </li>
        )
      })
    }
  </ul>
</div>
