---
import MenuBar from './MenuBar.astro'
import MenuList from './MenuList.astro'
import type { MainMenuLink } from '@custom-types/global'

interface Props {
  links: MainMenuLink[]
  class?: string | null | undefined
}

const { links, class: className } = Astro.props
---
<div
  id='PrimaryMenu'
  class:list={[
    'hidden left-0 top-0 right-0 z-[10] h-0 bg-gray-1000/50 backdrop-blur-3xl -translate-y-full',
    className,
  ]}>
  <div class='mx-auto h-full max-w-[1440px] flex flex-col lg:px-16 lg:py-8 xl:px-32'>
    <MenuBar />
    <MenuList links={links} />
  </div>
</div>

<script>
  import { syncLinkWithUrlPathName } from '@lib/dom/blog'
  import type { AstroNodeList } from '@custom-types/global'

  const menu = document.querySelector('#PrimaryMenu')
  const menuList: AstroNodeList = menu?.querySelectorAll('a[data-menu-link-value]')
  const bannerList: AstroNodeList = menu?.querySelectorAll('[data-banner-value]')

  syncLinkWithUrlPathName({ links: menuList, dataAttr: 'menuLinkValue' })

  const currentPathName = new URL(window.location.href).pathname.split('/')

  bannerList?.forEach(banner => {
    const dataBanner = banner.dataset.bannerValue ?? ''
    const isActive = currentPathName.includes(dataBanner)

    if (!isActive) {
      banner.classList.remove('block')
      banner.classList.add('hidden')
      return
    }

    if (dataBanner === 'blog') {
      banner.classList.remove('hidden')
      const path = banner.querySelector('#BlogFlagVector')
      path.classList.add('block', 'lightning')
      return
    }

    if (dataBanner === 'portfolio') {
      banner.classList.remove('hidden')
      banner.classList.add('block')
      return
    }
  })

  menu?.addEventListener('contextmenu', e => {
    e.preventDefault()
    e.stopPropagation()
  })
</script>
