---
import { Image } from 'astro:assets'
import defaultImage from '../assets/default-image.svg'
---

<div>
  <Image src={defaultImage} alt={'No description'} />
  <div>
    <span>Sin contenido disponible.</span>
  </div>
</div>