---
import CopyButton from './CopyButton.astro'

const { fileName, lang, code, ...props } = Astro.props
---

<div class='code-block' {...props}>
  <div class='code-block-header'>
    <div class="code-block-extension">
      <div>➜</div>
      <span>{`${fileName ?? ''}.${lang}`}</span>
    </div>
    <CopyButton code={code} lang={lang} aria-label='Copiar código' />
  </div>
  <pre><code>{code}</code></pre>
</div>

<style>
  .code-block,
  .code-block-header {
    border-style: solid;
    border-color: var(--color-gray-600);
  }

  .code-block {
    margin-bottom: calc(1rem * 2);
    border-width: 1px;
    display: flex;
    flex-direction: column;
  }

  .code-block-header {
    position: relative;
    padding: 0.5rem 1rem;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Refactor Article content */
  .code-block-extension {
    display: flex;
    gap: 1ch;
  }

  .code-block-extension > div {
    font-family: var(--font-mono);
    color: var(--color-green-600);
  }

  .code-block-extension > span{
    font-family: var(--font-mono);
    color: var(--color-gray-50);
  }

  /* Para que pueda cambiar el elemento code con la dependencia highlight.js es accediendo a la clase hljs */
  code.hljs {
    width: 100%;
    padding: 1.5rem !important;
  }
</style>
