<h3 class:list={['heading heading-3']}>
  <slot />
</h3>

<style>
  /* Refactor Article content */
  .heading-3 {
    --heading-size: clamp(var(--text-md), 1.0179rem + 0.5357vw, var(--text-xl));
    padding: 1rem 0 1.25rem 0;
    line-height: 1.4;
    text-wrap: balance;
    font-size: var(--heading-size);
    font-weight: var(--font-weight-normal);
    color: var(--color-gray-50);
  }
</style>
