---
const { ...props } = Astro.props
---

<p class:list={['paragraph']} {...props}>
  <slot />
</p>

<style>
  /* Refactor Article content */
  .paragraph {
    --paragraph-size: clamp(var(--text-base), 0.179vw + 0.964rem, var(--text-md));
    padding-bottom: calc(var(--paragraph-size) * 1.25);
    letter-spacing: var(--tracking-wide);
    line-height: var(--leading-normal);
    text-wrap: pretty;
    font-size: var(--paragraph-size);
  }
</style>
